<!DOCTYPE html>
<html>
    <head>
        <title>Excercise Tracker</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome to Excersice Tracker</h1>
    </body>
</html>